In [1]:
# import modules
import os
import pandas as pd

In [2]:
cityData = pd.read_csv('cities.csv')
cityData.head()

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date
0,Busselton,-33.6500,115.3333,51.89,78,91,3.00,1659702664
1,Yerbogachën,61.2767,108.0108,54.34,77,100,5.35,1659702665
2,Hithadhoo,-0.6000,73.0833,82.06,72,100,10.96,1659702643
3,Sistranda,63.7256,8.8340,60.76,70,4,21.16,1659702665
4,Cairns,-16.9167,145.7667,73.35,88,100,0.00,1659702648

In [3]:
cityData.to_html('tableData_bob.html', index=False, classes=['table', 'table-striped', 'table-hover'])